<!-- about.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} About{% endblock title %}

{% block page_header_row %}
	<div id="navbar" class="navbar-fixed navbar-left">

	</div><!--/.navbar-collapse -->
{% endblock page_header_row %}


{% block page_body_row %}
	<div class="col-md-12">
	InnovoNET represents a fully searchable and publicly accessible online innovative research equipment database which can be used to locate and request access to research equipment and facilities across the US and around the world. This database is designed to facilitate and strengthen research collaboration, potential research funding bids, and to improve sharing and utilization of equipment and facilities between the universities, colleges and research organizations. 
	<br>
	InnovoNET allows to browse and search the equipment by the different criteria such as name, category, department, manufacturer, laboratory supervisor, etc. This database helps to gain the best possible value from research equipment spread out around the world, and represents a platform connecting researchers among each other.	
	</div>
{% endblock page_body_row %}

{% block js_include %}{% endblock js_include %}