<!-- asset.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} Asset{% endblock title %}

{% block page_header_row %}
	<div id="navbar" class="navbar-fixed navbar-left">
		<ul class="nav navbar-nav">
			<li><a href="{% url 'unit' object.organization.id %}" class="">{{ object.organization }}</a></li>
		</ul>
	</div><!--/.navbar-collapse -->
{% endblock page_header_row %}


{% block page_body_row %}
	<div class="col-md-12 content">
		<h2>{{ object.title }}</h2>

			<dl class="dl-horizontal">
				<dt>MANUFACTURER</dt>
				<dd>{{ object.manufacturer }} {% if object.manufacturer_website %} (<a href="{{ object.manufacturer_website }}" target="_blank">manufacturer's website</a>){% endif %}</dd>
		
				<dt>MODEL</dt>
				<dd>{{ object.model_name }}</dd>

				<dt>SERIAL NUBER</dt>
				<dd>{{ object.serial_no }}</dd>
			</dl>
	</div>

	<div class="col-md-4 content"> <!-- LEFT SIDE -->
		<div class="row">
			<div class="col-md-12 content">
			{% if object.image %}
			<p><img src="{{object.image.url}}" height="100%" width="100%"></p>
			{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 content">			

				<div class="panel panel-info">
				  <div class="panel-heading">Categories</div>
	              <div class="panel-body">
	              <p>...</p></div>
				</div>
			</div>
		</div>				
	</div>

	<div class="col-md-8 content"> <!-- RIGHT SIDE -->
			<dl class="dl-horizontal">
				<dt>LOCATION</dt>
				<dd>{{ object.organization.org_site }}, {{ object.organization.org_site.address }}</dd>
		
				<dt>BUILDING</dt>
				<dd>{{ object.building }}</dd>

				<dt>ROOM</dt>
				<dd>{{ object.room }}</dd>

				<dt>CONTACT</dt>
				<dd>{{ object.contact_1_name }} (<a href="mailto://{{ object.contact_1_email }}" target="_blank">E-mail</a>)</dd>				
			</dl>		
			<br>

			<div class="panel panel-info">
			  <div class="panel-heading">Description</div>
              <div class="panel-body">
              <p>{{ object.full_desc }}</p></div>
			</div>

			<div class="panel panel-info">
			  <div class="panel-heading">Specification</div>
              <div class="panel-body">
              <ul>
              	{% for i in object.get_specification_as_list %}
              	<li>{{ i }}</li>
              	{% endfor %}
              </ul></div>	
			</div>			
	</div>


		
		

	
	</div>
{% endblock page_body_row %}
