<!-- home.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} Home{% endblock title %}
{% block head %}
    {{ block.super }}
	<style>
		.link {
			stroke: #ccc;
		}
		.node circle {
			fill: #fff;
			stroke: #ccc; stroke-width: 1.5px;
		}
		.node foreignObject {
			stroke: #fff; stroke-width: 1.5px;
		}
		.node text {
			pointer-events: none;
			font: 10px sans-serif;
		}
		path {
			stroke: white;
			stroke-width: 0.5px;
			fill: black;
		}
		svg {
		  background: #eee;
		}
		.sphere {
		  fill: #fff;
		}
		.land {
		  fill: gray;
		}
		.boundary {
		  fill: none;
		  stroke: #fff;
		  stroke-linejoin: round;
		  stroke-linecap: round;
		  vector-effect: non-scaling-stroke;
		}
		.overlay {
		  fill: none;
		  pointer-events: all;
		}
	</style>
	<script type="text/javascript">
		var worldmap_data = "{% static 'data/world-110m.json' %}";
		var graph_data = "{% static 'data/graph.json' %}";
	</script>
	<script src="{% static 'js/d3.min.js' %}" charset="utf-8"></script>
	<script src="{% static 'js/topojson.v1.min.js' %}" charset="utf-8"></script><script src="{% static 'js/graph-home.js' %}" charset="utf-8"></script>
	

{% endblock head %}

{% block page_header_row %}{% endblock page_header_row %}

{% block page_body_row %}
	<div id="map" class="col-md-12 content text-center">
			<script src="{% static 'js/mapdemo.js' %}" charset="utf-8"></script>
	</div>
{% endblock page_body_row %}

{% block js_include %}
{% endblock js_include %}

