<!-- innovosite.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} Sub Org{% endblock title %}

{% block page_header_row %}
	<div class="col-md-12"><h2>{{ object.name }}</h2></div>
{% endblock page_header_row %}


{% block page_body_row %}
	<div class="col-md-6 content">
	
	{% for site in suborgs %}
		<ul>
		{% for a, b in site.items %}
			<li> {{ a }} </li>
			<ul>
				{% for c, d in b.items %}
					<li> {{ c }} </li>
					<ul>
						{% for e, f in d.items %}
							<li> {{ e }} </li>
							<ul>
								{% for g, h in f.items %}
									<li> {{ g }} </li>
									
								{% endfor %}
							</ul>
						{% endfor %}
					</ul>
				{% endfor %}
			</ul>
		{% endfor %}
		</ul>

	{% endfor %}
	</div>	

	<!-- <div id="tree">
		
	<ul>
		<li><a href="http://equipment.lboro.ac.uk/browse/ou-2-Loughborough-University"> Loughborough University </a> <span class="count">(0)</span>
			<ul>
			<li><a href="http://equipment.lboro.ac.uk/browse/ou-11-Design-School"> Design School </a> <span class="count">(0)</span>
			<li><a href="http://equipment.lboro.ac.uk/browse/ou-33-Interdisciplinary-Research-Centres"> Interdisciplinary Research Centres </a> <span class="count">(0)</span>
				<ul>
				<li><a href="http://equipment.lboro.ac.uk/browse/ou-24-Centre-for-Biological-Engineering-CBE-"> Centre for Biological Engineering (CBE) </a> <span class="count">(0)</span>
				</ul>
			<li><a href="http://equipment.lboro.ac.uk/browse/ou-27-School-of-Aeronautical-Automotive-Chemical-and-Materials-Engineering"> School of Aeronautical, Automotive, Chemical and Materials Engineering </a> <span class="count">(1)</span>
				<ul>
				<li><a href="http://equipment.lboro.ac.uk/browse/ou-6-Aeronautical-and-Automotive-Engineering"> Aeronautical and Automotive Engineering </a> <span class="count">(8)</span>
				<li><a href="http://equipment.lboro.ac.uk/browse/ou-7-Chemical-Engineering"> Chemical Engineering </a> <span class="count">(0)</span>
				<li><a href="http://equipment.lboro.ac.uk/browse/ou-3-Materials"> Materials </a> <span class="count">(33)</span>
				</ul>	
	</div> -->
	<!-- </div>			 -->
{% endblock page_body_row %}
