<!-- suborg.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} Sub Org{% endblock title %}

{% block page_header_row %}
	<div id="navbar" class="navbar-fixed navbar-left">
		<ul class="nav navbar-nav">
			<li><a href="{% url 'innovosite' object.org_site.id %}" class="clean">{{ object.org_site }}</a></li>
		</ul>
	</div><!--/.navbar-collapse -->
	<div class="col-md-12"><h2>{{ object.name }}</h2></div>
{% endblock page_header_row %}

{% block page_body_row %}

	<div class="col-md-4 content"> <!-- LEFT SIDE -->
		<!--<div class="row">
			<div class="col-md-12 content">

			</div>
		</div>-->

		<div class="row">
			<div class="col-md-10 content">			

				<div class="panel panel-info">
				  <div class="panel-heading">Categories</div>
	              <div class="panel-body">
	              <p>aaa</p></div>
				</div>

				<div class="panel panel-info">
				  <div class="panel-heading">Manufacturers</div>
	              <div class="panel-body">
	              <ul class="grid_manuf">{% for k, v in manufacturers.items %} <li class="manufname" data-sort="{{ k }}"><a href="#" class="filter_btn" data-filter=".{{ k|slugify }}">{{ k }}</a></li> {% endfor %}</ul></div>	              
				</div>

				<div class="panel panel-info">
				  <div class="panel-heading">Techniques</div>
	              <div class="panel-body">
	              <p>aaa</p></div>	              
				</div>				
			</div>
		</div>				
	</div>

	<div class="col-md-8 content"> <!-- RIGHT SIDE -->
		
		<div class="row">
			<div class="col-md-10 content filterdata">


				{% for asset in assets %} 
				<div class="item {{ asset.manufacturer|slugify }}" data-sort="{{asset.title}}">
				<div class="panel panel-success">
				  <div class="panel-heading"><h4><a class="name" href="{% url 'asset' asset.id %}">{{ asset.title }}</a></h4></div>
	              <div class="panel-body">
	              	<div class="col-md-4 content">
	              		<p><img src="{{ asset.image.url }}" width="200px"></p>
	              	</div>
	              	<div class="col-md-8 content">
	              		<p>{{ asset.short_desc }}</p>
	              		<p><a href="{% url 'asset' asset.id %}">more details >></a></p>
	              		<br>
	              		<p><small><b>Manufacturer:</b> {{ asset.manufacturer }}</small></p>
	              		<p><small><b>Technique:</b> ....</small></p>
	              	</div>	
	              </div>	              
				</div>	
			    </div>
				{% endfor %}

			</div>
		</div>	

	<!--{% for asset in assets %} <p><a href="{% url 'asset' asset.id %}" class="btn btn-xs clean">{{ asset.title }}</a></p> {% endfor %}-->
			
	</div>
	
{% endblock page_body_row %}
{% block js_include %}
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			
			var $grid = $('.filterdata').isotope({
				  itemSelector: '.item',
				  layoutMode: 'fitRows',
				  
				  getSortData: {
					name: '[data-sort]' 
				}				  
			});		

			var $grid_manuf = $('.grid_manuf').isotope({
				  itemSelector: '.manufname',
				  // layoutMode: 'fitRows',
				  
				  getSortData: {
					manufname: '[data-sort]' 
				}				  
			});

			$grid.isotope({ sortBy : 'name', sortAscending: "asc" });
			$grid_manuf.isotope({ sortBy : 'manufname', sortAscending: "asc" });

			// bind filter button click
			$('.filter_btn').on( 'click', function() {
				var filterValue = $( this ).attr('data-filter');
				$grid.isotope({ filter: filterValue });
			});

			// bind sort button click
			$('#sort-btn').on( 'click', function() {
				var sortbyval = $( this ).attr('data-sort-by');
				var order = "";
                if ($(this).attr("data-order")==="asc") {
                    order = true;
                    $(this).attr("data-order", "");
                } else {
                    order = false;
                    $(this).attr("data-order", "asc");
                }

				
				console.log('sorting?' + sortbyval);
			});

		});  
    </script>
{% endblock js_include %}