<!-- user.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ block.super }} Sub Org{% endblock title %}

{% block page_header_row %}
	<div id="navbar" class="navbar-fixed navbar-left">
		<ul class="nav navbar-nav">
			<li><a href="" class="clean">{{ object.org_site }}</a></li>
		</ul>
	</div><!--/.navbar-collapse -->
	<!--<div class="col-md-12"><h2>{{ object.name }}</h2></div>-->
{% endblock page_header_row %}

{% block page_body_row %}

	<div class="col-md-8 content"> <!-- LEFT SIDE -->
		<div class="row">
			<div class="col-md-12 content">			

				  <div class="well">
					<div class="media">
					  <div class="media-left">
					    {% if object.innovouser.photo %}<img src="{{ object.innovouser.photo.url }}" class="media-object" style="width:200px">{% endif %}
					  </div>
					  <div class="media-body">
					    <h2 class="media-heading"><b>{{ object.first_name }} {{ object.last_name }}</b></h2>
	              		<br>
	              		<p><h5>{{ object.innovouser.degree }}, {{ object.innovouser.get_degree_type_display }}</h5></p>
	              		<p><h5><a href="http://www.nmhu.edu/" target="_blank">{{ object.innovouser.affiliation }}</a></h5></p>
					  </div>
					</div>
				  </div>

				  <div class="well">
				  	<h3>Experience</h3>
				  	<h4>Previous Affiliations</h4>
						<ul>
							{% for i in prev_affiliations %}
			              	<li>{{ i }}</li>
			              	{% endfor %}

		  			    </ul>			  			
		  		  </div>			  	

				  <div class="well">
				  	<h3>Areas of Expertise</h3>
					<span class="label label-primary">Primary</span>
				  </div>

				  <div class="well">
				  	<h3>Featured Publications</h3>
						<ul>
		  					<li><h5></h5></li>
		  			    </ul>
				  </div>				  

			</div>
		</div>				
	</div>

	<div class="col-md-4"> <!-- RIGHT SIDE -->
		
		<div class="row">
			<div class="col-md-12 content">

							
				  <div class="well">
				   <h3>Collaborators</h3>
					<div class="media">
					  <div class="media-left">
					    {% if asset.image %}<img src="{{ asset.image.url }}" class="media-object" style="width:200px">{% endif %}
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading"><a class="name" href="">{{ asset.title }}</a></h4>
	              		<p>{{ asset.short_desc }}</p>
	              		<br>
					  </div>
					</div>
				  </div>
			    </div>
			    <!--{% for asset in assets %} 	-->	
				<!--{% endfor %}-->

			</div>
		</div>	

	<!--{% for asset in assets %} <p><a href="{% url 'asset' asset.id %}" class="btn btn-xs clean">{{ asset.title }}</a></p> {% endfor %}-->
			
	</div>
	
{% endblock page_body_row %}
{% block js_include %}
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			
			var $grid = $('.filterdata').isotope({
				  itemSelector: '.item',
				  layoutMode: 'vertical',
				  
				  getSortData: {
					name: '[data-sort]' 
				}				  
			});		

			var $grid_manuf = $('.grid_manuf').isotope({
				  itemSelector: '.manufname',
				  layoutMode: 'vertical',
				  
				  getSortData: {
					manufname: '[data-sort]' 
				}				  
			});

			var $grid_org = $('.grid_org').isotope({
				  itemSelector: '.orgname',
				  layoutMode: 'vertical',
				  
				  getSortData: {
					orgname: '[data-sort]' 
				}				  
			});

			$grid.isotope({ sortBy : 'name', sortAscending: "asc" });
			$grid_manuf.isotope({ sortBy : 'manufname', sortAscending: "asc" });

			// bind filter button click
			$('.filter_btn').on( 'click', function() {
				var filterValue = $( this ).attr('data-filter');
				$grid.isotope({ filter: filterValue });
			});

			// bind sort button click
			$('#sort-btn').on( 'click', function() {
				var sortbyval = $( this ).attr('data-sort-by');
				var order = "";
                if ($(this).attr("data-order")==="asc") {
                    order = true;
                    $(this).attr("data-order", "");
                } else {
                    order = false;
                    $(this).attr("data-order", "asc");
                }

				
				console.log('sorting?' + sortbyval);
			});

		});  
    </script>
{% endblock js_include %}